@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursive {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.active-link {
  border-bottom: 1px solid #fff;
}

.header-text h1, .header-text h2{
  text-align: center;
  color: #fff;
}

.header-text h1 {
  font-size: 50px;
}

.header-text h2 {
  font-size: 30px;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
